.carousel-item {
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 400px;
}

.background-image {
  width: 100%;
  height: auto;
}
